/* list for section */
.section {
    padding: 0;
    margin: 20px;
    width: 737px;
    background-color: bisque;
    float:right;
    border-radius: 20px;
}

.section h2 {
    text-align: center;
    padding-bottom: 0;

}

.section ol {
    padding-left: 10em;
    list-style-type: upper-roman;
}

.section p {
    font-size: 120%;
}